[submodule "modules/mysql"]
	path = modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/dashboard"]
	path = modules/dashboard
	url = https://github.com/puppetlabs/puppetlabs-dashboard.git
[submodule "modules/jenkins"]
	path = modules/jenkins
	url = https://github.com/hairmare/puppet-jenkins.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git@github.com:hairmare/puppet-sudo.git
[submodule "modules/registry"]
	path = modules/registry
	url = https://github.com/puppetlabs/puppetlabs-registry.git
